
aside {
    width:35%;
    min-height: 80vh;
    padding-left: 20px;
    margin-left: 5%;
    background-color: #ccff33;
    
}
li {
    list-style: none;
    margin-top: 5%;
    margin-left: 5%;
    width: 80%;

}

aside h1 {
    /* color: ;
    font-style: ; */
    font-size: 2.5em;
    margin-top:2em;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
li p {
    color: black;
    font-style: none;
    font-size: 1.3em;
    transition-property: transform;
    transition-duration:  0.3s;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

li p:hover {
    transform: scale(1.2);
    color: #3a86ff;
    cursor:pointer;
}